html, body {
	width: 100%;
	height: 100%;
}
h1{
	margin: auto 0;
	padding-top: 20%;
}
#page1{
	width: 100%;
	height: 100%;
	margin: auto 0;
	width: 100%;
	height: 100%;
	color: purple;
	background-image: url("../images/wat.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: 'Libre Baskerville', serif;

}
#page2{
	width: 100%;
	height: 100%;
	/*padding-top: 20%;*/
	background-image: url("../images/abot.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: 'Libre Baskerville', serif;
}
#page3{
	width: 100%;
	height: 100%;
	color: orange;
	background-image: url("../images/musicc.png");
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: 'Libre Baskerville', serif;
}
#carousel-example-generic{
	width:385px;
	margin:3% 36%;
}
/*#page4{
	width: 1360px;
	height: 670px;
	color: orange;
	padding-top: 10%;
	background-image: url("../images/quest.png");
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: 'Libre Baskerville', serif;
}

#page5{
	width: 1360px;
	height: 670px;
	color: orange;
	padding-top: 10%;
	background-image: url("../images/quest.png");
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: 'Libre Baskerville', serif;
}*/
#one{
	height: 300px;
	width: 500px;
	color: gray;
}
@media screen and (max-width:320px){
	#page1{
	width:100%;
	}
	#page2{
	width:100%;
	}
	#page3{
	width:100%;
	}
	#carousel-example-generic{
	width: 100px;
	height: 100px;
	}
	#one{
	width: 100%;
	}

}