html, body {
	width: 100%;
	height: 100%;
}
h1{
	margin: auto 0;
	padding-top: 20%;
}
#page1{
	width: 100%;
	height: 100%;
	margin: auto 0;
	width: 100%;
	height: 100%;
	color: purple;
	background-image: url("../images/wat.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	font-family: 'Libre Baskerville', serif;

}
#page2{
	width: 100%;
	height: 100%;
	background-image: url("../images/abot.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	font-family: 'Libre Baskerville', serif;
}
#page3{
	width: 100%;
	height: 100%;
	color: orange;
	background-image: url("../images/musicc.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	font-family: 'Libre Baskerville', serif;
}
#carousel-example-generic{
	width:385px;
	margin:3% 36%;

}
#two{
	padding-left: 50%;
	padding-top: 5%;
	font-size: 50px;
	color: white;
}
#one{
	padding-left: 50%;
	padding-top: 5%;
	color: white;
	font-size: 20px;
}
#zero{
	padding-top: 5%;
	font-size: 25px;
	color: orange;
}
@media screen and (max-width:320px){
	#page1{
	width:100%;
	}
	#page2{
	width:100%;
	}
	#page3{
	width:100%;
	}
	#carousel-example-generic{
	width: 100px;
	height: 100px;
	}
	#one{
	width: 100%;
	font-size: 8px;
	}
	h1{
	width: 100%;
	font-size: 10px;
	}

}
